.tabuleiro{
	width:350px;
	height:350px;
}

.linha{	
	height:20px;
}

.coluna{
    width: 30px;
}

.casa{
	width:30px;
	height:100%;	
	float:left;
	cursor: pointer;
}

/*.celula{
    border: solid 1px; 
    width:30px; 
    float:left; 
    height:30px;
}*/

.celula:hover{
    background-color: lightblue;
}

